

/* Navbar CSS */
.navbar-item
{
  color: #505050;
    font-size: 0.8125rem;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
 }

.navbar-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.navbar
{
  background: #fff;
  padding: 0.01rem 3rem;
}

.navbar-brand
{
font-size: 2rem;
font-family: 'Anton', sans-serif;
}

/* LOGO CSS */
 .logo
{
width: 60px;
}

/* Main Page Design */

.main-page
{
  width: 100%;
  height: 95vh;
  background-image: url('bg.png');
  background-repeat: no-repeat;
background-size: 100% 100%;
/* background-color: white; */
  position: relative;

}

.text-container p:nth-child(1)
{
  font-family: serif;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 1.375rem;
}
.text-container p:nth-child(2)
{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 3.5rem;
    line-height: 15px;
}
.text-container p:nth-child(3)
{
  font-family:  serif;
  color: #403e3e;
  font-size: 	1.875rem;
  line-height: 30px;
}

@media screen and  (max-width: 352px) {
  .text-container p:nth-child(3)
  {
    font-size: 	1.5rem;
    line-height: 30px;
    margin-top: 10px;
  }
  .text-container p:nth-child(2)
  {
    font-size: 	3rem;
    line-height: 40px
  }
  .text-container p:nth-child(1)
  {
    font-size: 	1rem;
    line-height: 0;
  }
  .text-container
  {
    top: 42%;
  }

}

.text-container p
{
  line-height: 0;
  margin: 45px 0 25px;
}

.text-container
{
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}




.text-container button{
  width: 40%;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bold;
  font-size: 	0.875rem;
  outline: none;
  margin: 0 10px;
}

.hire-btn{
  border: 2px solid #373636;
  color: #373636;
}
.down-cv
{
  background-color: #0b0b0b;
  color: #FFFFFF;
  border: none;
}
button:active {
  transform: scale(1.1);
}

.model{
  height: 400px;
   position: absolute;
   bottom: 0;
   left: 80%;
   transform: translateX(-70%);
}





/* Services Section */

.ser-container{
  /* background-image: url('services.jpg'); */
  background-color: #eeeeee;
  background-size: cover;
  background-position: center;
  color: black;
}

.ser-heading{
  margin:0 auto 60px auto;
  text-align: center;
  font-family: serif;
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 2.5rem;
}

.ser-heading:after
{
  content: '';
  background: #365c9a;
  display: block;
  width: 150px;
  height: 3px;
  margin: 10px auto;
}
/* Serices Heading */
h3
{
  font-family: serif;
  padding-top: 10px;
}

.serv-para
{
  font-family: serif;
}

/* services div */
.row{
  margin-left: 5px;
  margin-right: 5px;
}

/* About CSS */

  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

  .about-heading{
    font-family: serif;
    font-weight: bold;
  }
.about-paragraph{
  font-family: serif;
}
.about-heading2{
    font-family: 'Lobster', cursive;
    color: orange;
}
/* Portfolio CSS */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.thumbnail-img:hover{
  transform: scale(1.3,1.3);
  transition: .3s transform;
}


/* Carousel feedback css*/
.testimonials
{
text-align: center;
background-color: #365c9a;
color: #fff;
}
.carousel-item
{
  padding: 7% 15%;
}
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}
.port-heading
{
  font-family: serif;
}

.port-para{
    font-family: 'Lobster', cursive;
}

.port-para2{
    font-family: serif;
}

/* Contact Us CSS */
.contact-title
{
  padding: 0;
  text-align: center;
  background: url('contact.jpg');
  /* background-color: #a5ecd7; */
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  margin-top: 30px;
  color: black;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.cont-heading1{
font-size: 2rem;
line-height: 10px;
  padding-top: 30px;
  color: black;
  font-family: serif;
}

.cont-heading2{
  font-size: 1rem;
  padding-top: 30px;
  color: black;
}

form{
  margin: 50px auto auto auto;
  transition: all 4s ease-in-out;
}

.form-control{
  width: 55%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 1.125rem;
  margin:auto auto 16px auto;
}

input
{
  height: 45px;
  margin: auto;
}

form .submit{
  background: #505050;
  border-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  /* letter-spacing: 2px; */
  height: 50px;
  width: 20%;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px auto;
}

@media screen and  (max-width: 540px) {
  form .submit{
    width: 60%;
  }
}



form .submit:hover{
  background-color: #f08a5d;
  cursor: pointer;
}

@media (max-width: 900px) {
  form .submit{
    font-size: .6rem;
  }

}

/* Footer */
footer{
  padding: 7% 15%;
  text-align: center;
  background: #2f3b59;

}

footer p{
  font-family: serif;
}

footer p:nth-child(1){
  font-size: 1.875rem;
  font-weight: bold;
  color: #191919;
  line-height: 30px;
    font-family: serif;
    text-align: center;

}
footer p:nth-child(2){
  font-size: 1rem;
  color: #7e7d7d;
  width: 100%;
  text-align: center;
    font-family: serif;
}

.copyright{
  color: black;
  /* font-size: 	0.8rem; */
    font-family: 'Lobster', cursive;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}



.social-icons{
  display: inline-flex;

}


.social-icons i{
  color: #000000;
}

.social-icons a:hover,
.a-social-b a:hover
{
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons-a:hover i,
.a-social-bia:hover i{
  color: #FFFFFF;
  transition: all ease 0.5s;
}

/* Socail Bar */
.a-social-b
{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* @media (max-width: 360px) {

  .a-social-b
  {
    position: fixed;
    top: 50%;
    right: 0.5%;
    transform: translateY(-50%);
  }
} */

.a-social-b a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 0;
  background-color: #FFFFFF;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.a-social-b i{
  color: #2b2b2b;
  font-size: 1.25rem;
}
